[Unit]
Description=xmr
After=network.target

[Service]
ExecStart=/root/tutunana/xmr-stak -c /root/tutunana/config.txt -C /root/tutunana/pools.txt
User=root

[Install]
WantedBy=multi-user.target
